.header {
  display: flex;
  padding: 15px 40px;
  align-items: center;
  justify-content: space-between;
}

.header-info {
  display: flex;
}

.header-info div {
  margin: 0 20px;
}

.header .header-right {
  display: flex;
  align-items: center;
}

.header .header-search {
  margin-right: 8px;
}
.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
